/** opmaak algemeen*/

body {
	font-family: calibri, arial;
	font-weight: 300;
	color: #4d4d4d;
	margin: 0 ;
	padding: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #FFFFFC;
	
}

/** knopjens */

.LIn {
        width: 30px;
        height: 30px;
        background: url("/images/linkedin.png") no-repeat;
        display: inline-block;
    }
.LIn:hover {
        background: url("images/linkedin2.png") no-repeat;
}

/** opmaak titels en tekst*/
h11 {
font-family: simonetta;
font-size: 4vw;
color:#7A3340;
margin: 0;
padding: 0;
line-height: 115%;
}

h22 {
font-family: simonetta;
font-size: 3vw;
color:#403257;
margin: 0;
padding: 0;
line-height: 115%;
}

h33 {
font-family: simonetta;
font-size: 3vw;
color:#403257;
margin: 0;
padding: 0;
line-height: 115%;
}

p11 {
font: 8px;
text-align: justify;
margin: 0;
padding: 0;
line-height: 115%;
}

p22 {
font-family: simonetta;
font-size: 12px;
margin: 0;
padding: 0;
color: #284561;
line-height: 115%;
}

p22.br {
	padding-bottom: 10px;
	line-height: 110%;
} 

p33 {
font-family: simonetta;
font-size: 12px;
cursor: pointer;
color:#7A3340;
margin: 0;
padding: 0;
line-height: 115%;
}

p33:hover{
cursor: pointer;
color:#859C62;
margin: 0;
padding: 0;
}

p33.br {
	padding-bottom: 10px;
	line-height: 110%;
} 

p44 {
	font-family: simonetta;
	font-size: 12px;
	cursor: pointer;
	color:#fff;
	background-color: #284561
	margin: 0;
	padding: 0;
	line-height: 115%;
	}

p44:hover{
	cursor: pointer;
	background-color:#6a6260;
	margin: 0;
	padding: 0;
	}

p44.br {
	padding-bottom: 10px;
	line-height: 110%;
} 

a{
	text-decoration:none;
}

a:hover{
  	text-decoration: none;
}

#wrap {
position: relative;
width: 100%;
}


#kolom {
position: absolute;
top: 0;
bottom: 0;
height: auto;
width: 160px;
text-align: right;
left: -185px;
margin: -15px 10px 0 10px;
background: #FFFFFC;
}

#contact {
position: absolute;
bottom: 0;
padding: 10px;
}

#contact-klein-scherm {
display: none;
}



#kleurenbalk {
position: relative:
float: right;
width: 700px;
padding: 15px;
height: auto;
margin: 50px 50px 50px 0;
background: url("images/color2-04.png");
background-size: 100% 100%;
border: 10px solid transparant;
border-bottom-right-radius: 50px;
border-left: 160px solid #7A3340;
}

#kleurenbalk2 {
position: relative:
float: right;
width: 700px;
padding: 15px;
height: auto;
margin: 50px 50px 50px 0;
background: url("images/color2-05.png");
background-size: 100% 100%;
border: 10px solid transparant;
border-bottom-right-radius: 50px;
border-left: 160px solid #7A3340;
}

#content {
position: relative:
width: 90%;
padding: 10px;
height: auto;
background: #FFFFFC;
border-bottom-right-radius: 40px;
}

#foto img {
height: 20%;
min-height: 80px;
width: 20%;
min-width: 80px;
margin: 0 0 5% 5%;
position: relative;
float: right;
border-bottom-right-radius: 0 !important;
}

#kleur2 {
position: absolute;
float:left;
top: 50px;
right: 0;
height: 15px;
width: 75%;
background: #f1ebd6;
z-index: -20;
}

/** opmaak klein scherm*/

@media all and (max-width: 900px), (max-height: 400px) {
#kolom {
display: none;
}

#contact {
display: none;
}

#contact-klein-scherm {
display: block;
text-align: center;
}

#kleurenbalk {
margin: 0;
width: auto;
max-width: 1000px;
border-left: none;
}

#kleurenbalk2 {
margin: 0;
width: auto;
max-width: 1000px;
border-left: none;
}	
	
	
#tekst {
padding-left: 0;
}
}

/** Carousel controls zichtbaar maken op wit **/
/* Add an extra .carousel parent class to increase specifity
   avoiding the use of !important flag. */

.carousel-control-prev-icon {
 background-image: url('/images/ArrowL.png') !important;
}

.carousel-control-next-icon {
  background-image: url('/images/ArrowR.png') !important;}


/** lettertype aanroepen **/



@font-face {
font-family: 'Simonetta Black';
font-style: normal;
font-weight: normal;
src: local('Simonetta Black'), url('simonetta/Simonetta-Black.woff') format('woff');
src: local('Simonetta Black') url('simonetta/Simonetta-Black.ttf') format('truetype');
}


@font-face {
font-family: 'Simonetta';
font-style: normal;
font-weight: normal;
src: local('Simonetta'), url('simonetta/Simonetta-Regular.woff') format('woff');
src: local('Simonetta') url('simonetta/Simonetta-Regular.ttf') format('truetype');
src: local('Simonetta') url('simonetta/Simonetta-Regular.eot');
}


@font-face {
font-family: 'Simonetta Black Italic';
font-style: normal;
font-weight: normal;
src: local('Simonetta Black Italic'), url('simonetta/Simonetta-BlackItalic.woff') 
format('woff');
src: local('Simonetta Black Italic') url('simonetta/Simonetta-BlackItalic.ttf') format('truetype');
}


@font-face {
font-family: 'Simonetta Italic';
font-style: normal;
font-weight: normal;
src: local('Simonetta Italic'), url('simonetta/Simonetta-Italic.woff') format('woff');
src: local('Simonetta Italic') url('simonetta/Simonetta-Italic.ttf') format('truetype');
}
